<h1>{{title}}</h1>
<hr>
<input type="text" class="form-control" placeholder="Search products" [(ngModel)]="searchText" (keyup)="filterData()">
Search By : {{searchText}} <br>
<button class="btn btn-primary mr-3 mt-3" (click)='refreshData()'>Refresh Data</button>
<button class="btn btn-secondary mt-3" (click)="toggleImage()">{{showImages ? 'Hide':'Show'}} Images</button>
<div class="row mt-3" *ngIf="products?.length; else noProducts">

  <div class="col-md-3" *ngFor="let product of products;let i= index;trackBy:trackByName">
    <div class="card">
      <img class="card-img-top" *ngIf="showImages" [src]="product.imageUrl" alt="Card image cap"
        [title]="product.productName">
      <div class="card-body">
        <h5 class="card-title">{{i+1}}. {{product.productName | uppercase}}</h5>
        <p class="card-text">{{product.description | ifNullOrEmpty : '-' }}</p>
        <p class="card-text">Released On : {{product.releaseDate | date : 'MMMM-dd-yyyy' | ifNullOrEmpty : 'N/A' }}</p>
        <p class="card-text" [ngSwitch]=' true' [ngClass]="getClassesForProduct(product)">
          Price : {{product.price | currency : 'INR' :'Rs ' : '2.2-3'}}
          <span *ngSwitchCase='product.price >=200'>(Costly)</span>
          <span *ngSwitchCase='product.price <= 100'>(Cheap)</span>
          <span *ngSwitchDefault>(Value4Money)</span>
        </p>
        <button class="btn btn-primary" [disabled]='!product.isActive' (click)="buyProduct(product)">Buy</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <p class="text-danger">No Products available</p>
</ng-template>
