<h2>Inside Parent Component</h2>
<hr>
<app-accordian [header]="'Card 1'">
  <div class="acc-card-body">
    <p class="card-text ">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
    <div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="acc-card-footer">
    <span class="text-danger">
      2 days ago
    </span>
  </div>

</app-accordian>
<hr>

<app-accordian [header]="'Card 1'">
  <div class="acc-card-body">
    Swagat
  </div>

  <div class="acc-card-footer">
    <span class="text-danger">
      32 days ago
    </span>
  </div>

</app-accordian>
